* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'POPPINS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  background-color: tomato;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  padding: 10px 30px 30px;
}

.main {
  display: flex;
  padding: 10px 0;
  gap: 120px;
}

.main__box1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__box1__header {
  display: flex;
  gap: 60px;
}

.main__box1__ul {
  border: 2px solid black;
  background-color: #a7a7a7;
  padding: 5px;
}

li {
  color: #000;
  padding: 9px 6px;
  margin: 0;
  font-size: 18px;
}

li:nth-child(odd) {
  background-color: rgb(250, 242, 243);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 3px;
  border: 2px solid black;
}

button {
  border: 1px solid black;
  width: 80px;
  padding: 5px 0;
  border-radius: 7px;
}

button:hover {
  background-color: #a7a7a7;
}
